* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --f-black: #000;
    --s-black: #1f1f1f;
    --t-color: #b3b3b3;
    --chg-color: #fff;
    --d-black: #383838;
}

.container {
    height: 100vh;
    background-color: var(--f-black);
}


.main {
    height: 100%;
    display: grid;
    grid-template-areas: "top top"
        "left right"
        "bottom bottom";
    column-gap: 1%;
}


.m-header {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: start;
    grid-area: top;
}


.m-h-m {
    height: 100%;
    width: 48%;
    display: flex;
    align-items: center;
    gap: 4%;
}

.h-logo {
    height: 100%;
    width: 72px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.m-h-search {
    height: 96%;
    width: 99%;
    display: flex;
    align-items: center;
}

.border {
    border: 2px solid var(--chg-color);
}

.h-s-btn {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
    position: relative;
    background-color: var(--s-black);
    transition: background-color 0.3s ease-in;
    transition: tranfrom 0.3s ease-in;
}

.h-s-btn:hover {
    background-color: #383838;
    transform: scale(1.01);
    cursor: pointer;
}

.h-s-btn span {
    color: var(--chg-color);
    position: absolute;
    top: 120%;
    left: 10%;
    background-color: var(--s-black);
    padding: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 2s ease;
}

.h-s-btn:hover span {
    opacity: 1;
}

.h-s-btn img {
    height: 28px;
    width: 28px;
}

.h-s-box {
    width: 90%;
    margin: 2%;

}

.s-box-df {
    height: 48px;
    width: 100%;
    border-radius: 20px;
    padding: 2%;
    background-color: var(--s-black);
}

.search-box {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3%;
}

.form-glass {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.glass {
    color: var(--chg-color);
    background-color: var(--s-black);
    padding: 5px;
    text-transform: capitalize;
    border-radius: 3px;
    position: absolute;
    top: 165%;
    opacity: 0;
    transition: opacity 1s ease;
    cursor: pointer;
}

.form-glass:hover .glass {
    opacity: 1;
}

.form-glass img {
    height: 27px;
    width: 27px;
    cursor: pointer;
}

.input-icon {
    position: relative;
    cursor: pointer;
}

.input-icon img {
    height: 25px;
    width: 25px;
}

.icon-text {
    color: var(--chg-color);
    background-color: var(--s-black);
    position: absolute;
    text-transform: capitalize;
    padding: 7px;
    border-radius: 3px;
    top: 105%;
    right: 0.5%;
    opacity: 0;
    transition: opacity 1s ease;
}

.input-icon:hover .icon-text {
    opacity: 1;
}

.form-input {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-h {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
}

.input-h span {
    border: 1px solid var(--t-color);
    padding: 5px;
    border-radius: 5px;
    color: var(--chg-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-input:hover .input-h span {
    opacity: 1;
}


.form-input input {
    height: 100%;
    width: 60%;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--s-black);
    color: var(--t-color);
    border: none;
    outline: none;
}

.form-input input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.m-h-m2 {
    height: 100%;
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3%;
}

.m2-btn {
    width: 9%;
    color: var(--t-color);
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    transition: color 0s ease;
    transition: font-size 0s ease;
}

.m2-box {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 90%;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: var(--t-color);
    transition: color 0s ease;
    transition: font-size 0s ease;
}

.m2-box:hover {
    color: var(--chg-color);
    font-size: 1.01rem;
    cursor: pointer;
}

.m1-box {
    width: 3%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login-box {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3%;
}

.login-box button:first-child {
    width: 33%;
    color: var(--t-color);
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
}

.login-box button {
    width: 58%;
    height: 70%;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    transform: 0.3s ease;
    cursor: pointer;
}

.scl:hover {
    height: 72%;
    width: 58.5%;
}

.m2-btn:hover {
    color: var(--chg-color);
    font-size: 1.02rem;
    cursor: pointer;
}

.login-box button:first-child:hover {
    color: var(--chg-color);
    font-size: 1.02rem;
    cursor: pointer;
}

.m-footer {
    height: 70px;
    width: 100%;
    background: linear-gradient(to top left, #6495ED, #FF00BF);
    vertical-align: baseline;
    position: fixed;
    bottom: 0%;
    left: 0%;
    display: flex;
    grid-area: bottom;
    z-index: 1000;
}

.first-f {
    width: 55%;
    height: 100%;
    padding: 1%;
    color: var(--chg-color);
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
}

.first-f p {
    margin-left: 1%;
}

.sec-f {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sec-f button {
    height: 67%;
    width: 26%;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 5%;
}

.sec-f button:hover {
    height: 70%;
    width: 26.2%;
}

.m-l-asider {
    width: 24vw;
    grid-area: left;
    margin-left: 2%;
}

.l-s-f {
    height: 15%;
    width: 100%;
}

.l-s-f header {
    height: 100%;
    width: 100%;
    display: flex;
}

.your {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8%;
}

.your h1 {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--chg-color);
}

.plus {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus span svg {
    height: 20px;
    width: 20px;
    fill: var(--chg-color);
}

.l-s-s {
    height: 85%;
}

.asider-second {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.asider-second div {
    width: 98%;
}

.asider-second .first {
    height: 49%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 15%;
    padding-top: 5%;
}

.asider-second .first span {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--t-color);
}

.asider-second .sec {
    height: 10%;
    width: 98%;
    padding: 2%;
}

.asider-second .sec p a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--chg-color);
    font-weight: 400;
    font-size: 0.9rem;
}

.asider-second .sec p:hover {
    text-decoration: underline var(--chg-color);
}

.asider-second .thr {
    height: 40%;
    display: flex;
    align-items: center;
}

.asider-second .thr button {
    height: 35px;
    width: 35%;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--chg-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: var(--d-black);
    border: 1px solid var(--t-color);
}

.asider-second .thr button:hover {
    height: 36px;
    width: 36%;
    border: 1px solid var(--chg-color);
}

.asider-first {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 2%;
    gap: 15%;
}

.asider-first::-webkit-scrollbar {
    width: 12px;
}
.asider-first::-webkit-scrollbar-track {
    background-color: transparent;
}
.asider-first::-webkit-scrollbar-thumb {
    background-color: var(--t-color);
}

.asider-first .first {
    height: 20vh;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: var(--tre);
}

.asider-first .second {
    height: 25vh;
    width: 97%;
    background-color: var(--tre);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.asider-first .first .first {
    height: 60%;
    text-transform: capitalize;
    color: var(--chg-color);
    padding: 3%;
}

.asider-first .first .second {
    height: 40%;
    padding-left: 3%;
    display: flex;
    justify-content: start;
}

.asider-first .first .second button {
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: var(--chg-color);
    color: var(--f-black);
    font-weight: 700;
}

.asider-first .first .second button:hover {
    height: 32px;
    width: 51%;
    cursor: pointer;
}

.asider-first .second .first {
    height: 60%;
    width: 90%;
    color: var(--chg-color);
    padding: 3%;
}

.asider-first .second .second {
    height: 40%;
    padding-left: 3%;
    display: flex;
    justify-content: start;
}

.asider-first .second .second button {
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: var(--chg-color);
    color: var(--f-black);
    font-weight: 700;
}

.asider-first .second .second button:hover {
    height: 32px;
    width: 51%;
    cursor: pointer;
}



/*  */



.m-r-asider {
    width: 75vw;
    margin-right: 1%;
    grid-area: right;
    overflow-y: auto;
    padding-left: 2%;
}

.m-r-asider::-webkit-scrollbar {
    width: 13px;
}

.m-r-asider::-webkit-scrollbar-track {
    background-color: transparent;
}

.m-r-asider::-webkit-scrollbar-thumb {
    background-color: var(--t-color);
}


.same {
    height: 73vh;
    margin-bottom: 20%;
    border-radius: 5px;
    background-color: var(--s-black);
}

.main-hh {
    height: 70px;
    background-color: var(--s-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-hh div {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-hh div span {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    text-transform: capitalize;
    padding: 1%;

}

.main-hh div span h2 a {
    text-decoration: none;
    color: var(--chg-color);
    font-size: 1.5rem;
}

.main-hh div span h2:hover a {
    text-decoration: underline var(--chg-color);
}

.main-hh div div {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 1%;
    font-size: 1rem;
    font-weight: 600;
}

.main-hh div div a {
    text-decoration: none;
    color: var(--t-color);
}

.main-hh div div a:hover {
    text-decoration: underline var(--chg-color);
}


.first {
    height: 45vh;
    padding-left: 2%;
    display: flex;
    gap: 0.4%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
}

.first::-webkit-scrollbar {
    display: none;
}

.first-divs {
    flex: 0 0 auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 15vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: backgroun-color 0.3s ease;
    padding: 0.5%;
    scroll-snap-align: start;
}

.first-divs:hover div button {
    opacity: 1;
}

.first-divs:hover {
    background-color: var(--d-black);
    cursor: pointer;
}

.first-divs div {
    width: 94%;
    height: 65%;
    border-radius: 5px;
    position: relative;
}

.first-divs div button {
    position: absolute;
    bottom: 6%;
    left: 65%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    border-radius: 50%;
    border: none;
}

.first-divs div button:hover {
    cursor: pointer;
}

.first-divs div button i.play {
    font-size: 50px;
    color: var(--green);
    background-color: var(--f-black);
    border-radius: 50%;
}

:root {
    --green: #1DB954;
    --tre: #404040;
}

.first-divs div img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.first-divs h4 {
    height: 18%;
    width: 98%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
}

.first-divs h4 a {
    text-decoration: none;
    color: var(--chg-color);
}

.first-divs h4:hover a {
    text-decoration: underline var(--chg-color);
}

.first-divs p {
    width: 95%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    align-items: start;
    margin-bottom: 5%;
    color: var(--t-color);
    text-overflow: ellipsis;
}

.first-divs p a:hover {
    text-decoration: underline var(--t-color);
}

#E {
    font-size: 1rem;
    background-color: var(--t-color);
    color: var(--f-black);
    border-radius: 2px;
    padding: 2px;
    margin-right: 5px;
}

.first-divs p a {
    text-decoration: none;
    color: var(--t-color);
}

.upper {
    text-transform: uppercase;
}


.second {
    height: 40vh;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.5%;
}

.second::-webkit-scrollbar {
    display: none;
}

.sec-divs {
    flex: 0 0 auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    height: 100%;
    width: 15vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.3%;
    transition: background-color 0.3s ease;
}

.sec-same {
    width: 98%;
}

.sec-divs div {
    height: 73%;
    border-radius: 50%;
    position: relative;
}

.sec-divs h4 {
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 1.2rem;
}

.sec-divs h4 a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--chg-color);
    font-weight: 500;
}

.sec-divs p {
    height: 10%;
    color: var(--t-color);
    text-transform: capitalize;
    padding-left: 5%;
}

.sec-divs div img {
    height: 100%;
    width: 90%;
    border-radius: 50%;
    ;
}

.sec-divs:hover {
    background-color: var(--d-black);
    cursor: pointer;

}

.sec-divs div button {
    position: absolute;
    top: 70%;
    right: 10%;
    position: absolute;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sec-divs div button i.play {
    font-size: 50px;
    color: var(--green);
    background-color: var(--f-black);
    border-radius: 50%;
}

.sec-divs:hover div button {
    opacity: 1;
}

.sec-divs h4 a:hover {
    text-decoration: underline var(--chg-color);
}

.sec-divs div button:hover {
    cursor: pointer;
}

.third {
    height: 40vh;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.5%;
}

.third::-webkit-scrollbar {
    display: none;
}

.thr-divs {
    flex: 0 0 auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    height: 100%;
    width: 15vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5%;
    transition: background-color 0.3s ease;
    position: relative;
}

.thr-divs div {
    height: 78%;
    width: 98%;
    border-radius: 5px;
    position: relative;
}

.thr-divs div img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.thr-divs div button {
    position: absolute;
    top: 70%;
    right: 5%;
    position: absolute;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thr-divs div button i.play {
    font-size: 50px;
    color: var(--green);
    background-color: var(--f-black);
    border-radius: 50%;
}

.thr-divs p {
    height: 20%;
    width: 98%;
    padding-top: 5%;
    color: var(--t-color);
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thr-divs:hover div button {
    opacity: 1;
}

.thr-divs:hover {
    background-color: var(--d-black);
    cursor: pointer;

}


.mm-footer {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.mm-footer div {
    height: 100%;
    width: 100%;
}

.mm-footer .mfirst {
    height: 40%;
    display: flex;
    align-items: end;
    padding-left: 5%;
    text-transform: capitalize;
    color: var(--chg-color);
}

.mm-footer .msecond {
    height: 60%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    line-height: 25px;
    padding-top: 5%;
}

.mm-footer .msecond a {
    width: 100%;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--t-color);
    text-transform: capitalize;
}

.mm-footer .msecond a:hover {
    text-decoration: underline var(--t-color);
    color: var(--chg-color);
}

.micons {
    justify-content: space-evenly;
}

.micons button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--d-black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.micons button i {
    color: var(--chg-color);
    font-size: 15px;
}

.hr {
    height: 1px;
    background-color: var(--d-black);
    width: 98%;
}

.last {
    height: 20vh;
    color: var(--t-color);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}